<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDS">
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ClientProfile" />
        <activity android:name=".ClientEditProfile" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".FarmerProfileActivity" />
        <activity android:name="chat.ChatActivity"/>
        <activity android:name="chat.ChatContactActivity"/>
        <activity android:name="chat.NewMessageActivity"/>
        <activity android:name=".MainActivity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>